In [3]:
import pandas as pd
import numpy as np

In [2]:
sales = [0, 5, 100,12, 45, 90, 12]
sales_series = pd.Series(sales, name="Sales")
sales_series

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [5]:
sales_series.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
sales_series.values

array([  0,   5, 100,  12,  45,  90,  12])

In [8]:
sales_series.name

'Sales'

In [9]:
sales_series.dtype

dtype('int64')

In [10]:
sales_series.values.max()

100

In [11]:
sales_series.max()

100

In [14]:
sales_series.index = [10, 20, 30, 40, 50, 60, 70]
sales_series

10      0
20      5
30    100
40     12
50     45
60     90
70     12
Name: Sales, dtype: int64

In [17]:
sales_series.index = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
sales_series

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: int64

In [19]:
sales_series['two']

5

In [25]:
sales_series.astype("string")

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: string

In [23]:
sales_series.astype("bool")

one      False
two       True
three     True
four      True
five      True
six       True
seven     True
Name: Sales, dtype: bool

In [24]:
sales_series.astype("float")

one        0.0
two        5.0
three    100.0
four      12.0
five      45.0
six       90.0
seven     12.0
Name: Sales, dtype: float64

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(url, sep = '\t')
data