In [3]:
import pandas as pd
import numpy as np

In [36]:
sales = [0, 5, 100,12, 45, 90, 12]
sales_series = pd.Series(sales, name="Sales")
sales_series

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [38]:
sales_series[2:4]

2    100
3     12
Name: Sales, dtype: int64

In [5]:
sales_series.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
sales_series.values

array([  0,   5, 100,  12,  45,  90,  12])

In [8]:
sales_series.name

'Sales'

In [9]:
sales_series.dtype

dtype('int64')

In [10]:
sales_series.values.max()

100

In [11]:
sales_series.max()

100

In [14]:
sales_series.index = [10, 20, 30, 40, 50, 60, 70]
sales_series

10      0
20      5
30    100
40     12
50     45
60     90
70     12
Name: Sales, dtype: int64

In [17]:
sales_series.index = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
sales_series

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: int64

In [19]:
sales_series['two']

5

In [33]:
sales_series['two':'four']

two        5
three    100
four      12
Name: Sales, dtype: int64

In [34]:
products = pd.Series([9.99, 10.50, 2.99], index=['cola', 'sprite','gum'])
products

cola       9.99
sprite    10.50
gum        2.99
dtype: float64

In [25]:
sales_series.astype("string")

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: string

In [23]:
sales_series.astype("bool")

one      False
two       True
three     True
four      True
five      True
six       True
seven     True
Name: Sales, dtype: bool

In [24]:
sales_series.astype("float")

one        0.0
two        5.0
three    100.0
four      12.0
five      45.0
six       90.0
seven     12.0
Name: Sales, dtype: float64

In [32]:
# url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
# data = pd.read_csv(url, sep = '\t')
# data

In [44]:
numbers = pd.Series(range(1,4), index=['one', 'two', 'three'])
numbers

one      1
two      2
three    3
dtype: int64

In [46]:
numbers.iloc[0]

1

In [48]:
numbers.iloc[1:3]

two      2
three    3
dtype: int64

In [49]:
numbers.iloc[-1]

3

In [55]:
numbers.iloc[[0,2]]

one      1
three    3
dtype: int64

In [56]:
numbers.loc['one']

1

In [57]:
numbers.loc['two':'three']

two      2
three    3
dtype: int64

In [58]:
numbers.loc[['one', 'three']]

one      1
three    3
dtype: int64

In [59]:
number_index = pd.Series(range(5), index=[1, 102, 50, 3, 5])
number_index

1      0
102    1
50     2
3      3
5      4
dtype: int64

In [61]:
number_index.loc[1:5]

1      0
102    1
50     2
3      3
5      4
dtype: int64

In [63]:
number_index.loc[102:3]

102    1
50     2
3      3
dtype: int64

In [65]:
number_index.reset_index()

   index  0
0      1  0
1    102  1
2     50  2
3      3  3
4      5  4

In [66]:
number_index.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [67]:
number_index.reset_index(drop=True).loc[1:3]

1    1
2    2
3    3
dtype: int64

In [68]:
sales_series

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [69]:
sales_series[sales_series > 40]

2    100
4     45
5     90
Name: Sales, dtype: int64

In [70]:
sales_series[sales_series.gt(40)]

2    100
4     45
5     90
Name: Sales, dtype: int64

In [71]:
sales_series[sales_series.eq(100)]

2    100
Name: Sales, dtype: int64

In [72]:
sales_series.index.isin([0, 3, 6])

array([ True, False, False,  True, False, False,  True])

In [73]:
sales_series[sales_series.index.isin([0, 3, 6])]

0     0
3    12
6    12
Name: Sales, dtype: int64

In [74]:
sales_series[~sales_series.index.isin([0, 3, 6])]

1      5
2    100
4     45
5     90
Name: Sales, dtype: int64

In [75]:
sales_series[sales_series.isin([100, 45])]

2    100
4     45
Name: Sales, dtype: int64

In [76]:
sales_series[~sales_series.eq(100)]

0     0
1     5
3    12
4    45
5    90
6    12
Name: Sales, dtype: int64

In [77]:
sales_series.sort_values()

0      0
1      5
3     12
6     12
4     45
5     90
2    100
Name: Sales, dtype: int64

In [78]:
sales_series.sort_index()

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [79]:
sales_series.sort_index(ascending=False)

6     12
5     90
4     45
3     12
2    100
1      5
0      0
Name: Sales, dtype: int64

In [80]:
sales_series.sort_values(ascending=False)

2    100
5     90
4     45
3     12
6     12
1      5
0      0
Name: Sales, dtype: int64

In [81]:
sales_series.mean()

37.714285714285715

In [82]:
sales_series.max()

100

In [83]:
sales_series.min()

0

In [84]:
sales_series.count()

7

In [85]:
sales_series.add(1000)

0    1000
1    1005
2    1100
3    1012
4    1045
5    1090
6    1012
Name: Sales, dtype: int64

In [86]:
sales_series.mul(1000)

0         0
1      5000
2    100000
3     12000
4     45000
5     90000
6     12000
Name: Sales, dtype: int64

In [87]:
sales_series.sub(100)

0   -100
1    -95
2      0
3    -88
4    -55
5    -10
6    -88
Name: Sales, dtype: int64

In [88]:
sales_series.pow(3)

0          0
1        125
2    1000000
3       1728
4      91125
5     729000
6       1728
Name: Sales, dtype: int64

In [89]:
sales_series.mod(2)

0    0
1    1
2    0
3    0
4    1
5    0
6    0
Name: Sales, dtype: int64

In [90]:
sales_series.div(2)

0     0.0
1     2.5
2    50.0
3     6.0
4    22.5
5    45.0
6     6.0
Name: Sales, dtype: float64

In [93]:
x = pd.Series([3, np.NaN, 10, 90, np.NaN ])
x

0     3.0
1     NaN
2    10.0
3    90.0
4     NaN
dtype: float64

In [94]:
x.add(1000, fill_value=0)

0    1003.0
1    1000.0
2    1010.0
3    1090.0
4    1000.0
dtype: float64

In [96]:
x.mul(2000, fill_value=1)

0      6000.0
1      2000.0
2     20000.0
3    180000.0
4      2000.0
dtype: float64

In [126]:
names = pd.Series(['enosh', 'matanel', 'matanel', 'alef', 'yossi', 'elad'])
names

0      enosh
1    matanel
2    matanel
3       alef
4      yossi
5       elad
dtype: object

In [99]:
names.str.upper()

0      ENOSH
1    MATANEL
2       ALEF
3      YOSSI
4       ELAD
dtype: object

In [100]:
names.str.lower()

0      enosh
1    matanel
2       alef
3      yossi
4       elad
dtype: object

In [103]:
names.str.strip()

0      enosh
1    matanel
2       alef
3      yossi
4       elad
dtype: object

In [106]:
names.str.slice(1,3,1)

0    no
1    at
2    le
3    os
4    la
dtype: object

In [107]:
names.str.slice(0, 5, 2)

0    eoh
1    mtn
2     ae
3    ysi
4     ea
dtype: object

In [108]:
names.str.slice(0, 2)

0    en
1    ma
2    al
3    yo
4    el
dtype: object

In [109]:
names.str.replace('e', '$')

0      $nosh
1    matan$l
2       al$f
3      yossi
4       $lad
dtype: object

In [110]:
names.str.split('e')

0      [, nosh]
1    [matan, l]
2       [al, f]
3       [yossi]
4       [, lad]
dtype: object

In [111]:
names.str.startswith('e')

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [112]:
names.str.endswith('l')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [113]:
names.str.len()

0    5
1    7
2    4
3    5
4    4
dtype: int64

In [114]:
names.str.contains('e')

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [115]:
names[names.str.contains('e')]

0      enosh
1    matanel
2       alef
4       elad
dtype: object

In [116]:
names[names.str.len() > 4]

0      enosh
1    matanel
3      yossi
dtype: object

In [120]:
names.max()

'yossi'

In [124]:
names.sum()

'enoshmatanelalefyossielad'

In [125]:
names.unique()

array(['enosh', 'matanel', 'alef', 'yossi', 'elad'], dtype=object)

In [128]:
names.nunique()

5

In [134]:
names.value_counts()

matanel    2
enosh      1
alef       1
yossi      1
elad       1
Name: count, dtype: int64

In [139]:
x

0     3.0
1     NaN
2    10.0
3    90.0
4     NaN
dtype: float64

In [141]:
x.isna()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [143]:
x.isna().sum()

2

In [144]:
x.dropna()

0     3.0
2    10.0
3    90.0
dtype: float64

In [145]:
x.fillna(100)

0      3.0
1    100.0
2     10.0
3     90.0
4    100.0
dtype: float64

In [146]:
x.fillna(x.mean())

0     3.000000
1    34.333333
2    10.000000
3    90.000000
4    34.333333
dtype: float64

In [147]:
x.apply(lambda x: "even" if x % 2 == 0 else "odd")

0     odd
1     odd
2    even
3    even
4     odd
dtype: object

In [154]:
names.where(~names.str.contains('matan'), 'cool')

0    enosh
1     cool
2     cool
3     alef
4    yossi
5     elad
dtype: object

In [155]:
names

0      enosh
1    matanel
2    matanel
3       alef
4      yossi
5       elad
dtype: object

In [159]:
names.where(~names.str.len().gt(4), 'cool', inplace=True)
names

0    cool
1    cool
2    cool
3    alef
4    cool
5    elad
dtype: object

In [174]:
idk = names.where(~names.eq('cool'), 'yossi')
# idk
idk.where(names.str.endswith('f'), 'popo')

0    popo
1    popo
2    popo
3    alef
4    popo
5    popo
dtype: object