In [3]:
import pandas as pd
import numpy as np

In [36]:
sales = [0, 5, 100,12, 45, 90, 12]
sales_series = pd.Series(sales, name="Sales")
sales_series

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [38]:
sales_series[2:4]

2    100
3     12
Name: Sales, dtype: int64

In [5]:
sales_series.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
sales_series.values

array([  0,   5, 100,  12,  45,  90,  12])

In [8]:
sales_series.name

'Sales'

In [9]:
sales_series.dtype

dtype('int64')

In [10]:
sales_series.values.max()

100

In [11]:
sales_series.max()

100

In [14]:
sales_series.index = [10, 20, 30, 40, 50, 60, 70]
sales_series

10      0
20      5
30    100
40     12
50     45
60     90
70     12
Name: Sales, dtype: int64

In [17]:
sales_series.index = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
sales_series

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: int64

In [19]:
sales_series['two']

5

In [33]:
sales_series['two':'four']

two        5
three    100
four      12
Name: Sales, dtype: int64

In [34]:
products = pd.Series([9.99, 10.50, 2.99], index=['cola', 'sprite','gum'])
products

cola       9.99
sprite    10.50
gum        2.99
dtype: float64

In [25]:
sales_series.astype("string")

one        0
two        5
three    100
four      12
five      45
six       90
seven     12
Name: Sales, dtype: string

In [23]:
sales_series.astype("bool")

one      False
two       True
three     True
four      True
five      True
six       True
seven     True
Name: Sales, dtype: bool

In [24]:
sales_series.astype("float")

one        0.0
two        5.0
three    100.0
four      12.0
five      45.0
six       90.0
seven     12.0
Name: Sales, dtype: float64

In [32]:
# url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
# data = pd.read_csv(url, sep = '\t')
# data

In [44]:
numbers = pd.Series(range(1,4), index=['one', 'two', 'three'])
numbers

one      1
two      2
three    3
dtype: int64

In [46]:
numbers.iloc[0]

1

In [48]:
numbers.iloc[1:3]

two      2
three    3
dtype: int64

In [49]:
numbers.iloc[-1]

3

In [55]:
numbers.iloc[[0,2]]

one      1
three    3
dtype: int64

In [56]:
numbers.loc['one']

1

In [57]:
numbers.loc['two':'three']

two      2
three    3
dtype: int64

In [58]:
numbers.loc[['one', 'three']]

one      1
three    3
dtype: int64

In [59]:
number_index = pd.Series(range(5), index=[1, 102, 50, 3, 5])
number_index

1      0
102    1
50     2
3      3
5      4
dtype: int64

In [61]:
number_index.loc[1:5]

1      0
102    1
50     2
3      3
5      4
dtype: int64

In [63]:
number_index.loc[102:3]

102    1
50     2
3      3
dtype: int64

In [65]:
number_index.reset_index()

   index  0
0      1  0
1    102  1
2     50  2
3      3  3
4      5  4

In [66]:
number_index.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [67]:
number_index.reset_index(drop=True).loc[1:3]

1    1
2    2
3    3
dtype: int64

In [68]:
sales_series

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [69]:
sales_series[sales_series > 40]

2    100
4     45
5     90
Name: Sales, dtype: int64

In [70]:
sales_series[sales_series.gt(40)]

2    100
4     45
5     90
Name: Sales, dtype: int64

In [71]:
sales_series[sales_series.eq(100)]

2    100
Name: Sales, dtype: int64

In [72]:
sales_series.index.isin([0, 3, 6])

array([ True, False, False,  True, False, False,  True])

In [73]:
sales_series[sales_series.index.isin([0, 3, 6])]

0     0
3    12
6    12
Name: Sales, dtype: int64

In [74]:
sales_series[~sales_series.index.isin([0, 3, 6])]

1      5
2    100
4     45
5     90
Name: Sales, dtype: int64

In [75]:
sales_series[sales_series.isin([100, 45])]

2    100
4     45
Name: Sales, dtype: int64

In [76]:
sales_series[~sales_series.eq(100)]

0     0
1     5
3    12
4    45
5    90
6    12
Name: Sales, dtype: int64