In [1]:
import pandas as pd
import numpy as np

In [4]:
sales_data = pd.Series([0, 5, 100, 12, 45, 90, 12], name="Sales")
sales_data

0      0
1      5
2    100
3     12
4     45
5     90
6     12
Name: Sales, dtype: int64

In [5]:
product_prices = pd.Series([9.99, 10.50, 2.99, 15.99, 7.50], 
                         index=['cola', 'sprite', 'gum', 'chips', 'candy'],
                         name="Prices")
product_prices

cola       9.99
sprite    10.50
gum        2.99
chips     15.99
candy      7.50
Name: Prices, dtype: float64

In [6]:
names = pd.Series(['enosh', 'matanel', 'matanel', 'alef', 'yossi', 'elad'],
                 name="Names")
names

0      enosh
1    matanel
2    matanel
3       alef
4      yossi
5       elad
Name: Names, dtype: object

In [7]:
numeric_with_nan = pd.Series([3, np.NaN, 10, 90, np.NaN, 45, 12],
                           name="Values")
numeric_with_nan

0     3.0
1     NaN
2    10.0
3    90.0
4     NaN
5    45.0
6    12.0
Name: Values, dtype: float64

In [8]:
date_series = pd.Series([100, 120, 140, 80, 95],
                       index=pd.date_range('2024-01-01', periods=5),
                       name="Daily_Sales")
date_series

2024-01-01    100
2024-01-02    120
2024-01-03    140
2024-01-04     80
2024-01-05     95
Freq: D, Name: Daily_Sales, dtype: int64

In [9]:
# Exercise 1: Indexing and Basic Operations
"""
Get the first 3 elements from sales_data using numeric indexing
Your code here:
"""

'\nGet the first 3 elements from sales_data using numeric indexing\nYour code here:\n'

In [10]:
# Exercise 2: Custom Indexing
"""
Change the index of sales_data to ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
Your code here:
"""

"\nChange the index of sales_data to ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']\nYour code here:\n"

In [11]:
# Exercise 3: Series Information
"""
Display the data type, size, and index of product_prices
Your code here:
"""

'\nDisplay the data type, size, and index of product_prices\nYour code here:\n'

In [12]:
# Exercise 4: Value Access
"""
Access the price of 'sprite' from product_prices using label-based indexing
Your code here:
"""

"\nAccess the price of 'sprite' from product_prices using label-based indexing\nYour code here:\n"

In [13]:
# Exercise 5: Slicing
"""
Get all products from 'cola' to 'gum' in product_prices
Your code here:
"""

"\nGet all products from 'cola' to 'gum' in product_prices\nYour code here:\n"

In [14]:
# Exercise 6: Type Conversion
"""
Convert sales_data to float type
Your code here:
"""

'\nConvert sales_data to float type\nYour code here:\n'

In [15]:
# Exercise 7: String Conversion
"""
Convert sales_data to string type and add '$' prefix to each value
Your code here:
"""

"\nConvert sales_data to string type and add '$' prefix to each value\nYour code here:\n"

In [16]:
# Exercise 8: Boolean Conversion
"""
Create a boolean series showing which values in sales_data are greater than 50
Your code here:
"""

'\nCreate a boolean series showing which values in sales_data are greater than 50\nYour code here:\n'

In [17]:
# Exercise 9: Value Filtering
"""
Get all values from sales_data that are greater than the mean
Your code here:
"""

'\nGet all values from sales_data that are greater than the mean\nYour code here:\n'

In [21]:
# Exercise 10: Multiple Conditions
"""
Get all values from sales_data that are between 10 and 50
Your code here:
"""

'\nGet all values from sales_data that are between 10 and 50\nYour code here:\n'

In [19]:
# Exercise 11: String Filtering
"""
Get all names from names series that start with 'e'
Your code here:
"""

"\nGet all names from names series that start with 'e'\nYour code here:\n"

In [20]:
# Exercise 12: Case Manipulation
"""
Convert all names in the names series to uppercase
Your code here:
"""

'\nConvert all names in the names series to uppercase\nYour code here:\n'

In [22]:
# Exercise 13: String Length
"""
Create a series showing the length of each name in the names series
Your code here:
"""

'\nCreate a series showing the length of each name in the names series\nYour code here:\n'

In [23]:
# Exercise 14: String Replacement
"""
Replace 'a' with '@' in all names
Your code here:
"""

"\nReplace 'a' with '@' in all names\nYour code here:\n"

In [24]:
# Exercise 15: Basic Math
"""
Add 100 to all values in sales_data
Your code here:
"""

'\nAdd 100 to all values in sales_data\nYour code here:\n'

In [29]:
# Exercise 16: Percentage Calculation
"""
Calculate what percentage each value in sales_data is of the total
Your code here:
"""

'\nCalculate what percentage each value in sales_data is of the total\nYour code here:\n'

In [30]:
# Exercise 17: Custom Operation
"""
Apply a 10% discount to all prices in product_prices
Your code here:
"""

'\nApply a 10% discount to all prices in product_prices\nYour code here:\n'

In [31]:
# Exercise 18: Value Sorting
"""
Sort sales_data in descending order
Your code here:
"""

'\nSort sales_data in descending order\nYour code here:\n'

In [33]:
# Exercise 19: Index Sorting
"""
Sort product_prices by index
Your code here:
"""

'\nSort product_prices by index\nYour code here:\n'

In [34]:
# Exercise 20: Value Counts
"""
Count the frequency of each name in the names series
Your code here:
"""

'\nCount the frequency of each name in the names series\nYour code here:\n'

In [38]:
# Exercise 21: Null Detection
"""
Find all null values in numeric_with_nan
Your code here:
"""

'\nFind all null values in numeric_with_nan\nYour code here:\n'

In [37]:
# Exercise 22: Null Filling
"""
Fill null values in numeric_with_nan with the mean of non-null values
Your code here:
"""

'\nFill null values in numeric_with_nan with the mean of non-null values\nYour code here:\n'

In [40]:
# Exercise 23: Null Dropping
"""
Remove all rows with null values from numeric_with_nan
Your code here:
"""

'\nRemove all rows with null values from numeric_with_nan\nYour code here:\n'

In [41]:
# Exercise 24: Basic Statistics
"""
Calculate mean and the median of sales_data
Your code here:
"""

'\nCalculate mean and the median of sales_data\nYour code here:\n'

In [42]:
# Exercise 25: Custom Aggregation
"""
Calculate the range (max - min) of sales_data
Your code here:
"""

'\nCalculate the range (max - min) of sales_data\nYour code here:\n'

In [43]:
# Exercise 26: Group Statistics
"""
Group sales_data by whether they're above or below mean and get group averages
Your code here:
"""

"\nGroup sales_data by whether they're above or below mean and get group averages\nYour code here:\n"

In [44]:
# Exercise 27: Pattern Matching
"""
Find all names that contain 'el' in the names series
Your code here:
"""

"\nFind all names that contain 'el' in the names series\nYour code here:\n"

In [46]:
# Exercise 28: String Concatenation
"""
Add '_sales' suffix to all values in names series
Your code here:
"""

"\nAdd '_sales' suffix to all values in names series\nYour code here:\n"

In [48]:
# Exercise 29: Complex String Operation
"""
Create a series that shows the first letter and length of each name (e.g., "e_5" for "enosh")
Your code here:
"""

'\nCreate a series that shows the first letter and length of each name (e.g., "e_5" for "enosh")\nYour code here:\n'